<%= tinymce_assets %>
<%= form_for(@post, :html => { :novalidate => 'novalidate' }) do |f| %>
<% if @post.errors.any? %>
<div id="errors">
	<h2><%= pluralize(@post.errors.count, "error") %> prevented this post from saving.</h2>
	<ul style="text-align: left;">
		<% @post.errors.full_messages.each do |msg| %>
		<li><%= msg %></li>
		<% end %>
	</ul>
</div>
<% end %>
<div class="row">
<div class="form-group col-lg-8 col-lg-offset-2 text-center">
		<%= f.label :title %><br>
		<%= f.text_field :title, class: "form-control" %>
	</div>
</div>

<div class="row">
	<div class="form-group col-lg-8 col-lg-offset-2 text-center">
		<%= f.label :tag_list, "Tags (separated by commas)" %>
		<%= f.text_field :tag_list, value: @post.tag_list.join(","), class: "form-control" %>
	</div>
</div>

<div class="form-group">
	<%= f.label :body %><br>
	<%= f.text_area :body, cols: 80, rows: 12, required: true, class: "test form-control tinymce" %><br>
</div>

<div class="form-group pull-left">
	<%= f.button f.object.new_record? ? ' Create Post' : ' Update Post', class: "fa fa-floppy-o btn btn-success" %>
	<%= link_to " Cancel", params[:action] == 'new' ? posts_path : post_path, class: "fa fa-ban btn btn-danger" %>
</div>
<% end %>
<%= tinymce %>