<% title @post.title %>
<div id="post-content">
	<div class="text-center">
		<h1 class="title">
			<%= @post.title %>
		</h1>

		<p id="tags-show-post">
			<i class="fa fa-tags"> <%= raw @post.tag_list.map { |t| link_to t, tag_path(t) }.join(', ') %></i>
		</p>

		<p class="date" style="display: inline-block;">
			Submitted <%= time_ago_in_words(@post.created_at) %> ago<br>
			<!-- Back should link to /resources if coming from /resources, otherwise link back to /posts. -->
			<%= url_for(:back) == @resources_url ? 
															link_to(' Back', resources_path, class: "fa fa-arrow-left") : 
															link_to(' Back', posts_path, class: "fa fa-arrow-left") %>
			<% if user_signed_in? %>
				| <%= link_to '', edit_post_path(@post), data: { no_turbolink: true }, class: "fa fa-pencil" %>
				| <%= link_to '', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' }, class: "fa fa-trash-o" %>
			<% end %>
		</p>
	</div>
	<text class="body-show" id="post-body">
		<%= raw @post.body.html_safe %>
	</text>
</div>
<br><br><br>
<div class="comments">
	<%- disqus_thread %>
</div>
