<nav id='menu' class='navbar navbar-inverse'>
  <div class='container-fluid'>
    <div class="row">
    <ul class='nav nav-pills navbar-right text-center'>
        <li class="<%= active_class(root_path) %>">
          <%= link_to 'Me', root_path, class: 'nav-link' %>
        </li>
        <li class="<%= active_class(root_path) %>">
          <%= link_to 'Resume', resume_path, class: 'nav-link' %>
        </li>
        <li class="<%= active_class(contact_path) %>">
          <%= link_to 'Contact', contact_path, class: 'nav-link' %>
        </li>
        <li class="<%= active_class(posts_path) %>">
          <%= link_to 'Blog', posts_path, class: 'nav-link' %>
        </li>
      </ul>
    </div>
  </div>
</nav>