<!DOCTYPE html>
<html>
<head>
	<meta name="google-site-verification" content="bW0DiWDAStTS-a6H20Uj8yLfsXAz3rkKYVjAtc8GBhQ" />
	<meta name="description" content="Personal website where I occasionally post my thoughts about technology, life and my career as a Full Stack Web Developer" />
	<meta name="keywords" content="technology .net dotnet asp mvc javascript php ruby rails developer development fullstack robin nilsson resume blog personal" />
	<meta name="copyright" content="Copyright © 2016 Robin Nilsson. All Rights Reserved." />
	<meta name="author" content="Robin Nilsson" />
	<meta name="language" content="English" />
	<meta name="robots" content="index, follow" />
	<meta name="revisit-after" content="14 days" />
	<!-- fullstack, development, blog -->
	<title>Robin Nilsson - <%= yield(:title) %></title>
	<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
	<%= stylesheet_link_tag    'application', 'http://fonts.googleapis.com/css?family=Raleway:400,700' %>
	<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
	<%= csrf_meta_tags %>
</head>
<body>
	<%= disqus_init %>
	<%= render "layouts/menu" %>
	<div id="main" class="container-fluid">
		<div class='text-center'>
			<%= flash_messages %>
		</div>
		<div id="main-content">
			<div class="row">
				<div class="col-lg-8 col-lg-offset-2">
					<%= yield %>
				</div>
			</div>
		</div>
	</div>

</body>
</html>
